{{ template "layout" . }}

{{ define "title" }} {{ . }} {{ end }}
{{ define "style" }}  <link rel="stylesheet" type="text/css" href="/static/not_found/not_found.css"> {{ end }}

{{ define "source" }}

    <h1 align="center"> Why did you break the fourth wall? </h1>
    <h2 align="center"> You better come back... </h2>
    <div class="Link"> 
        <a href="/main/"> Click... </a>
    </div>

    <div class="Dino"> </div>
    <div class="Notfound"> </div>
    <div class="Ghost"> </div>
{{ end }}